<html>
  <head>
  {% block css %}
  <link rel="stylesheet" href="{{ csslink }}">
  {% endblock %}
  <title>darkfi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" type = "text/css" href = "../static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {% block head %}
    {% include 'header.html' %}
    {% endblock %} 
  </head>
  <body>
    <div class="container">
    {% block content %}
	
    {% endblock %}
  </div>
  </body>
<footer>
        {% block footer %}
	{% include 'footer.html' %}
        {% endblock %}
</footer>
</html>
